
.player-wrapper {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.player-footer {
    visibility: hidden;
    height: 0px;
}

.player-container {
    margin: 0px;
}

.styles--nonSubscriber_1wO {
    position: absolute;
    visibility: hidden;
    height: 0px;
    display: none;
}

.styles--toolbar_20h .styles--toolbar_2T6 .styles--upsellBanner_yPA {
    position: absolute;
    visibility: hidden;
    height: 0px;
    display: none;
}

.styles--upsellBanner_yPA {
    position: absolute;
    visibility: hidden;
    height: 0px;
    display: none;
}


.styles--toolbar_2T6 {
    position: absolute;
    visibility: hidden;
    height: 0px;
    display: none;
}

